APP_ENV=local
LOG_LEVEL=INFO
JWT_ISSUER=oficina-auth-local
JWT_AUDIENCE=oficina-cliente-local
JWT_PRIVATE_KEY_SECRET_NAME=fake/auth/jwt/private-key
CLIENT_LOOKUP_ENDPOINT=http://localhost:9000/fake-client-lookup
TOKEN_EXPIRATION_SECONDS=900
