APP_ENV=local
LOG_LEVEL=INFO
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=oficina
DB_SECRET_ID=oficina-auth
JWT_ISSUER=oficina-auth
JWT_AUDIENCE=oficina-api
JWT_EXPIRATION_SECONDS=900
JWT_PRIVATE_KEY_SECRET_ID=oficina-auth-jwt-private-key
